.dashboard-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.dashboard-content {
  display: flex;
  flex: 1;
}

.dashboard-main {
  flex: 1;
  padding: 20px;
  background-color: #fff;
}
